.card-img-top{
    justify-content: center;
    width: 400px;
    height: 300px;
    border-radius: 20px;
}

.card-deck{
    margin-top: 15px;
    margin-bottom: 10px;
}
.card{
    border-radius: 20px;
    padding: 12px;
    width: 50%;
    height: 550;
    align-items: center;
    overflow: hidden;
    display: flex;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.card-footer{
    border-radius: 15px;

}

.bxl-bitcoin{
    margin-right: 275px;
}

.button {
    background-color: #dddddd47;
    border: none;
    color: rgba(0, 0, 0, 0.985);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    margin-right: 110px;
    margin-top: -25px;
    cursor: pointer;
    border-radius: 16px;
}


.button2 {
    background-color: #dddddd47;
    border: none;
    color: rgb(60, 17, 205);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    margin-right: 25px;
    margin-top: -25px;
    cursor: pointer;
    border-radius: 16px;
}
.button2:hover {
    background-color: #150101;
    color: white;
}

.footer-btn{
    display: flex;
}

.card-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.place-hov{
    margin-right: 6px;
    margin-top: 10px;
}
.viewMore-btn{
    align-items: center;
    margin-left: 700px; 
    margin-top: 45px;
}

.pege-of{
    margin-left: -25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

